/*CSS reset settings here*/
* {
    vertical-align:top;
}
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    margin-right: 0px;
    padding: 20px;
    padding-left: 20px; 

   }
   #header{
    min-height: 100px;
    background-color: green;
    border: 10px;
    margin:0px;
    padding:0px;
    padding-right: 25px;
    margin-right: 10px;
    border-right: 10px;
    ;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display:inline-block;
    margin-right: 10px;
    margin-top: 10px;

   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    vertical-align: top;
    display:inline-block;
    margin-top: 10px;
    margin: 10 px;
    margin-right: 10px;
    border-right: 10px;
    padding-right: 25px;
   
    border-right: 10px;
   }
   .subcontents{
    min-height: 200px;
    width: 220px;
    background-color: yellow;
    display:inline-block;
    margin-top: 10px;
    margin-left: 10px;
   }
   #advertisement{
    min-height: 120px;
    width: 689px;
    background-color: purple;
    display:inline-block;
    margin: 10px;
   }
   